# Ensamble
Autor: **Emiliano Carrillo Moncayo**  
Materia: **Minería de Datos**

## 1. Preprocesar archivo de texto

In [2]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from sklearn.decomposition import PCA
from sklearn.preprocessing import StandardScaler
import ipywidgets as widgets
%matplotlib inline

nombre_archivo = "data2"

In [3]:
try:
    with open( nombre_archivo + ".txt", "r") as archivo:
        nElem = int(archivo.readline())
        nAtrib = int(archivo.readline())
        nClases = int(archivo.readline())
        
        atributos = []
        for i in range(0, nAtrib):
            atributos.append("atrib_" + str(i+1))
        
        atributos.append("clase")
        data = pd.read_csv(archivo, delimiter=',', header=None)
        data.columns = atributos
    
except FileNotFoundError:
    print( "ERROR: El archivo " + nombre_archivo + " no fue encontrado");
finally:
    archivo.close();

dataset = data;

In [4]:
x_fin = dataset.drop('clase', 1)
y_fin = dataset['clase']
nComponentes = "Sin Componentes"

In [29]:
dataset.head()

,atrib_1,atrib_2,atrib_3,atrib_4,atrib_5,atrib_6,atrib_7,atrib_8,atrib_9,atrib_10,...,atrib_377,atrib_378,atrib_379,atrib_380,atrib_381,atrib_382,atrib_383,atrib_384,atrib_385,clase
0,0.0,0.0,0.0,0.0,0.0,0.0,-0.25,-0.25,-0.25,-0.25,...,0.980381,0.0,0.0,0.0,0.0,0.0,-0.25,-0.25,21.803851,0
1,0.0,0.0,0.0,0.0,0.0,0.0,-0.25,-0.25,-0.25,-0.25,...,0.977008,0.0,0.0,0.0,0.0,0.0,-0.25,-0.25,21.745726,0
2,0.0,0.0,0.0,0.0,0.0,0.0,-0.25,-0.25,-0.25,-0.25,...,0.977008,0.0,0.0,0.0,0.0,0.0,-0.25,-0.25,21.687600,0
3,0.0,0.0,0.0,0.0,0.0,0.0,-0.25,-0.25,-0.25,-0.25,...,0.977008,0.0,0.0,0.0,0.0,0.0,-0.25,-0.25,21.629474,0
4,0.0,0.0,0.0,0.0,0.0,0.0,-0.25,-0.25,-0.25,-0.25,...,0.976833,0.0,0.0,0.0,0.0,0.0,-0.25,-0.25,21.571348,0

## 2. Preprocesar datos (Estandarizar)

In [6]:
x = dataset.drop('clase', 1)
y = dataset['clase']

x_estandarizada = StandardScaler().fit_transform(x)

try:
    atributos.remove('clase')
except:
    print('')
    
x_fin = pd.DataFrame(data = x_estandarizada, columns = atributos)
x_fin.head()

,atrib_1,atrib_2,atrib_3,atrib_4,atrib_5,atrib_6,atrib_7,atrib_8,atrib_9,atrib_10,...,atrib_376,atrib_377,atrib_378,atrib_379,atrib_380,atrib_381,atrib_382,atrib_383,atrib_384,atrib_385
0,-0.458699,-0.307113,-0.243608,-0.307003,-0.518008,-0.675602,-1.003106,-0.760053,-0.659573,-0.1849,...,-1.346831,2.398449,-0.608699,-0.69581,-0.707798,-0.499451,-0.009384,-1.20185,-0.641154,-0.332086
1,-0.458699,-0.307113,-0.243608,-0.307003,-0.518008,-0.675602,-1.003106,-0.760053,-0.659573,-0.1849,...,-1.346831,2.388748,-0.608699,-0.69581,-0.707798,-0.499451,-0.009384,-1.20185,-0.641154,-0.339097
2,-0.458699,-0.307113,-0.243608,-0.307003,-0.518008,-0.675602,-1.003106,-0.760053,-0.659573,-0.1849,...,-1.346831,2.388748,-0.608699,-0.69581,-0.707798,-0.499451,-0.009384,-1.20185,-0.641154,-0.346107
3,-0.458699,-0.307113,-0.243608,-0.307003,-0.518008,-0.675602,-1.003106,-0.760053,-0.659573,-0.1849,...,-1.346831,2.388748,-0.608699,-0.69581,-0.707798,-0.499451,-0.009384,-1.20185,-0.641154,-0.353118
4,-0.458699,-0.307113,-0.243608,-0.307003,-0.518008,-0.675602,-1.003106,-0.760053,-0.659573,-0.1849,...,-1.346831,2.388245,-0.608699,-0.69581,-0.707798,-0.499451,-0.009384,-1.20185,-0.641154,-0.360128

## 3. PCA

In [41]:
widgets.BoundedIntText(
    value=7,
    min=0,
    max=10,
    step=1,
    description='numero de componentes:',
    disabled=False
)

BoundedIntText(value=7, description='Text:', max=10)

In [17]:
nComponentes = int(input())
pca = PCA(n_components=nComponentes)

14

In [18]:
atributos = []
for i in range(nComponentes):
    atributos.append('PC'+ str(i+1))

In [19]:
x_pca = pca.fit_transform(x_estandarizada)
pca_dataframe = pd.DataFrame(data = x_pca, columns=atributos)

In [20]:
x_fin = pca_dataframe
x_fin.head()

,PC1,PC2,PC3,PC4,PC5,PC6,PC7,PC8,PC9,PC10,PC11,PC12,PC13,PC14
0,10.460596,-3.339109,-4.563161,3.327759,-2.208121,6.064103,-4.216890,-2.282480,2.566458,-0.184194,2.545967,1.755358,0.048655,0.346971
1,10.476073,-3.105652,-4.598310,3.396971,-2.553714,6.859681,-4.514791,-2.525036,2.475475,-0.264140,2.139360,1.485149,-0.121717,0.208802
2,10.461930,-3.080342,-4.655892,3.387952,-2.533418,7.027484,-4.408574,-2.720884,2.408274,-0.350027,2.177446,1.629837,-0.240210,0.196330
3,10.266744,-3.118854,-4.481004,3.101231,-2.716013,6.562618,-3.877002,-2.767032,2.268119,-0.407711,2.667307,2.427876,-0.006268,0.029171
4,10.291467,-3.159250,-4.525222,3.179001,-2.780219,6.549292,-3.847466,-2.891800,2.291335,-0.392369,2.794697,2.533093,-0.130609,0.042807

## 4. K-Fold Cross Validation

In [22]:
dataframe = pd.concat([x_fin, y_fin], axis = 1);

X = dataframe.drop('clase', 1)
y = dataframe['clase']

In [23]:
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=0)

# Avance 2
Clasificación

## KNN

In [ ]:
from sklearn.neighbors import KNeighborsClassifier

model_1 = KNeighborsClassifier(n_neighbors=5)
model_1.fit(X_train, y_train)

In [ ]:
pred_1 = model_1.predict(X_test)

In [ ]:
from sklearn.metrics import classification_report, confusion_matrix, accuracy_score

print("******* CLASIFICADOR KNN *******\n")
print("Matriz de confusión: ")
print(confusion_matrix(y_test, pred_1))
print("\nReporte de clasificación: ")
print(classification_report(y_test, pred_1))
print("\nPuntaje de precisión: ")
print(accuracy_score(y_test, pred_1))

In [ ]:
error = []

# Calcular error para valores K entre 1 y 40
for i in range(1, 40):
    knn = KNeighborsClassifier(n_neighbors=i)
    knn.fit(X_train, y_train)
    pred_i = knn.predict(X_test)
    error.append(np.mean(pred_i != y_test))

In [ ]:
plt.figure(figsize=(12, 6))
plt.plot(range(1, 40), error, color='red', linestyle='dashed', marker='o',
         markerfacecolor='blue', markersize=10)
plt.title('Frecuencia de error por Valores K')
plt.xlabel('K')
plt.ylabel('Error Promedio')

In [ ]:
#save best model
knn_best = model_1;

## Neural Network

In [ ]:
from sklearn.neural_network import MLPClassifier
mlp = MLPClassifier(max_iter=300)

parameter_space = {
    'hidden_layer_sizes': [(50,50,50), (50,100,50), (100,)],
    'activation': ['tanh', 'relu'],
    'solver': ['sgd', 'adam'],
    'alpha': [0.0001, 0.05],
    'learning_rate': ['constant','adaptive'],
}

from sklearn.model_selection import GridSearchCV

model_2 = GridSearchCV(mlp, parameter_space, n_jobs=-1, cv=3)
model_2.fit(X_train, y_train)

# Best paramete set
print('Best parameters found:\n', model_2.best_params_)

# All results
means = model_2.cv_results_['mean_test_score']
stds = model_2.cv_results_['std_test_score']
for mean, std, params in zip(means, stds, model_2.cv_results_['params']):
    print("%0.3f (+/-%0.03f) for %r" % (mean, std * 2, params))

In [ ]:
y_true, pred_2 = y_test , model_2.predict(X_test)

In [ ]:
print("******* CLASIFICADOR NEURAL NET*******\n")
print("Matriz de confusión: ")
print(confusion_matrix(y_test, pred_2))
print("\nReporte de clasificación: ")
print(classification_report(y_test, pred_2))
print("\nPuntaje de precisión: ")
print(accuracy_score(y_test, pred_2))

In [ ]:
#save best model
nn_best = model_2

## Naive Bayes

In [ ]:
from sklearn.naive_bayes import GaussianNB

model_3 = GaussianNB().fit(X_train, y_train)
pred_3 = model_3.predict(X_test)

In [ ]:
print("******* CLASIFICADOR NAIVE BAYES *******\n")
print("Matriz de confusión: ")
print(confusion_matrix(y_test, pred_3))
print("\nReporte de clasificación: ")
print(classification_report(y_test, pred_3))
print("\nPuntaje de precisión: ")
print(accuracy_score(y_test, pred_3))

In [ ]:
#save best model
nb_best = model_3

## Avance 3
https://towardsdatascience.com/ensemble-learning-using-scikit-learn-85c4531ff86a

In [ ]:
print('knn: {}'.format(knn_best.score(X_test, y_test)))
print('neural net: {}'.format(nn_best.score(X_test, y_test)))
print('naive bayes: {}'.format(nb_best.score(X_test, y_test)))

In [ ]:
from sklearn.ensemble import VotingClassifier

#create a dictionary of our models
estimators=[('knn', knn_best), ('nn', nn_best), ('nb', nb_best)]

#create our voting classifier, inputting our models
ensemble = VotingClassifier(estimators, voting='hard')

In [ ]:
#fit model to training data
ensemble.fit(X_train, y_train)
#test our model on the test data
ensemble.score(X_test, y_test)

In [ ]:
pred = ensemble.predict(X_test)

In [ ]:
print("******* ENSAMBLE *******\n")
print("Matriz de confusión: ")
print(confusion_matrix(y_test, pred))
print("\nReporte de clasificación: ")
print(classification_report(y_test, pred))
print("\nPuntaje de precisión: ")
print(accuracy_score(y_test, pred))